body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    color: green;
}

img {
    width: 100%;
    border-radius: 10px;
}
